= form.text_field :label, :data => {:slugify => @blog.new_record?}
= form.text_field :identifier, :data => {:slug => true}
= form.text_field :path

- if (options = Comfy::Cms::Layout.app_layouts_for_select).present?
  = form.select :app_layout, options

= form.text_area :description, :class => 'short'

- if (options = ::Comfy::Cms::Layout.options_for_select(@site)).present?
  = form.select :index_layout_id, options

- if (options = ::Comfy::Cms::Layout.options_for_select(@site)).present?
  = form.select :show_layout_id, options

= form.form_group :class => 'form-actions' do
  = form.submit :class => 'btn btn-primary'
  = link_to t('.cancel'), comfy_admin_blogs_path(@site), :class => 'btn btn-link'